* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 540px;
    margin: 55px 0 0 48px;
    border: 1px solid #d8a53b;
}


/* ================= HOME ================= */

.navbar {
    height: 80px;
    background-color: #fff0da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 48px;
}

.logo {
    width: 62px;
    height: 62px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.menu {
    display: flex;
    gap: 14px;
    font-size: 12px;
}

.hero {
    height: 208px;
    background-color: #c7d2e5;
    border-top: 1px solid #8ca1bd;
    border-bottom: 1px solid #d8a53b;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}


/* ================= SERVICES ================= */

#services {
    height: 229px;
    background-color: #fff3d4;
    padding-top: 23px;
}

.judul-section {
    width: 106px;
    height: 58px;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    background-color: #f4f4f4;
}

.service-container {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    padding: 0 28px;
}

.service-item {
    width: 110px;
}

.service-item h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.service-item p {
    font-size: 12px;
    line-height: 15px;
}


/* ================= ABOUT ================= */

#about {
    height: 280px;
    background-color: #d2ccd9;
    border-top: 1px solid #b19dbf;
    padding-top: 29px;
}

.about-text {
    font-size: 12px;
    margin: 29px 0 25px 64px;
}

.about-container {
    display: flex;
    padding: 0 64px;
}

.about-kiri {
    width: 220px;
}

.about-kanan {
    width: 210px;
}

.about-kiri h2,
.about-kanan h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-kiri p {
    width: 200px;
    font-size: 12px;
    line-height: 15px;
}
.gambar {
    width: 100px;
    height: 38px;
    margin-top: 5px;

    background-color: white;

    border: 1px solid #222;

    clip-path: polygon(
        0% 20%,
        10% 30%,
        20% 34%,
        30% 34%,
        40% 28%,
        50% 18%,
        60% 11%,
        70% 7%,
        80% 8%,
        90% 13%,
        100% 20%,

        100% 80%,
        90% 73%,
        80% 67%,
        70% 65%,
        60% 67%,
        50% 73%,
        40% 82%,
        30% 92%,
        20% 100%,
        10% 94%,
        0% 80%
    );
}

.gambar svg {
    width: 100%;
    height: 100%;
    
}

 .gambar path {
    fill: white;
    stroke: #222;
    stroke-width: 1;
 }
/* ================= CONTACT ================= */

#contact {
    height: 240px;
    background-color: #d5e2d3;
    border-top: 1px solid #8eb188;
    padding-top: 18px;
}

.form-row {
    display: flex;
    gap: 28px;
    margin: 8px 25px 18px;
}

.input {
    width: 210px;
    height: 22px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #f4f4f4;
}

.textarea {
    width: 452px;
    height: 73px;
    margin-left: 25px;
    border: 1px solid #333;
    border-radius: 12px;
    background-color: #f4f4f4;
}

.button {
    width: 110px;
    height: 23px;
    margin: 8px 0 0 28px;

    background-color: #1d55b5;
    color: white;

    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;
}


/* ================= FOOTER ================= */

.footer {
    height: 51px;
    background-color: #fff0da;
    border-top: 1px solid #d8a53b;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}